button:focus, button:hover,button:visited{
    outline: none;
}
.my-wrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main{
  flex-grow: 1;
  overflow: scroll;
  display: flex;
}
.nav-footer{
  height: 80px;
  background-color: #00BCD4;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-footer a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #ccc;
  flex-grow: 1;
}
.nav-footer a:last-child{
  border: none;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #00BCD4;
  padding: 0 5px;
  align-items: center;
  flex-shrink: 0;
}
.nav-header h3{
  margin: 0;
  color: #fff;
}
.nav-header button{
  height: 36px;
  color: #BDBDBD;
  background-color: rgba(255,255,255,1);
  border:none;
  border-radius: 6px;
  padding: 6px 12px;
}
.home-wrap{
  background-image: url(./img/20161102123234.jpg);
  flex-grow: 1;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
}
.home-cover{
  background-color: rgba(0,0,0,0.3);
  flex-grow: 1;
  align-items:center;
  display: flex;
}
.home-items{
  flex-grow: 1;
  text-align: center;
}
.about-wrap{
  flex-grow: 1;
  padding: 10px;
}
.git-card{
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 3px 3px rgba(200, 200, 200, 0.5);;
  text-align: center;
}
.about-form{
  margin: 0 auto;
  width: 50%;
  display: inline;
}
.show-git{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 6px;
  justify-content: space-around;
  font-size: 18px;
  color: #E91E63
}
.blog-wrap{
  flex-grow: 1;
}
.blog-card{
  padding: 0 10px;
  margin: 0 auto;
}
.blog-index{
  background-color: #00BCD4;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  height: 60px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 6px;
}
.blog-index span{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #fff;
  line-height: 40px;
}
.blog-content{
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 6px;
  padding: 10px;
  color: #666;
}
.blog-content h3{
  margin: 10px 0;
}
